<% content_for(:page_title, "L’école de Musique Traditionnelle") %>
<% content_for(:page_class, "emt") %>

<%= render Global::HeroComponent.new(title: "L’école de Musique Traditionnelle") %>

<section class="section">
  <div class="wrapper wrapper--text">
    <p>L’enseignement musical est basé sur l’apprentissage à l’oreille et la transmission orale du répertoire traditionnel. La connaissance du solfège n'est pas obligatoire. Les cours sont ouverts à tous, enfants comme adultes, débutants comme confirmés, personnes en situation de handicap. Les enseignants travaillent toute l'année avec les élèves pour qu'ils participent à diverses animations (veillées, bal, fest-noz…) et mettent en pratique les éléments assimilés dans l'année.</p>
    <p>Elle compte aujourd’hui plus de 300 élèves de 4 à 80 ans et a la particularité d’être itinérante sur le territoire. Ce sont ainsi les professeurs qui se déplacent dans 8 communes de Redon Agglomération et Oust à Brocéliande Communauté. La culture de tradition populaire est très vivante sur le territoire et l’Ecole de Musique a pour objectifs de favoriser cette transmission, en s’appuyant sur l’oralité.</p>
    <p>L’école est inscrite dans le Plan Musiques des départements du Morbihan et d’Ille-et-Vilaine Elle est liée à Redon Agglomération par une convention et collabore avec les Etablissements Culturels de l’Agglomération : le Canal Théâtre, la Médiathèque JM Bollé et le 7, Conservatoire, avec lequel l’EMT travaille et partage des projets. Elle est également labelisée SENSICAP et l’accès à tous les publics empêchés est une priorité. Au-delà des cours et des ateliers, elle met en place des interventions et actions avec de nombreux partenaires de secteur social (PMI…) et éducatif (projets avec les scolaires) mais aussi des évènements (veillées, Fest-noz, etc.) toute l’année et aussi à la demande. L’imprégnation et l’immersion culturelle sont au cœur de son projet pédagogique et de son identité.</p>
  </div>
  <div class="wrapper">
    <div class="card-list">
      <%= render Global::CardComponent.new(title: "Les instruments enseignés", url: emt_instruments_path) %>
      <%= render Global::CardComponent.new(title: "Les ateliers", url: emt_workshops_path) %>
      <%= render Global::CardComponent.new(title: "Les enseignants", url: emt_teachers_path) %>
      <%= render Global::CardComponent.new(title: "Les tarifs", url: "") %>
    </div>
  </div>
</section>
