<% content_for(:title) do %>
  <%= display_resource_name(page.resource_name) %>
  ( <%= resources.count %>  / <%= resources.unscoped.count %> )
<% end %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title" id="page-title">
    <%= content_for(:title) %>
  </h1>

  <% if show_search_bar %>
    <%= render(
      "search",
      search_term: search_term,
      resource_name: display_resource_name(page.resource_name)
    ) %>
  <% end %>

  <div>
    <%= link_to(
        t(
            "administrate.actions.new_resource",
            name: display_resource_name(page.resource_name, singular: true).downcase
        ),
        [:new, namespace, page.resource_path.to_sym],
        class: "button",
    ) if valid_action?(:new) && show_action?(:new, new_resource) %>
  </div>
</header>

<% if defined?(dashboard_from_resource(page.resource_name)::COLLECTION_FILTERS) && dashboard_from_resource(page.resource_name)::COLLECTION_FILTERS.size > 0 %>
  <section class="main-content__body filters">
      <h2>Filtres</h2>
      <% dashboard_from_resource(page.resource_name)::COLLECTION_FILTERS.each do |filter_name, _| %>
        <% if params[:search].present? && params[:search].include?(filter_name.to_s) %>
          <%= link_to(
            params.merge(search: [params[:search].gsub!("+#{filter_name}:", "")].compact.join(" ")).permit(:search)
          ) do %>
            <input type="checkbox" checked="checked">
            <%= t(filter_name) %>
          <% end %>
        <% else %>
          <%= link_to(
            params.merge(search: [params[:search], "#{filter_name}:"].compact.join(" ")).permit(:search)
          ) do %>
            <input id="<%= filter_name %>" type="checkbox">
            <%= t(filter_name) %>
          <% end %>
        <% end %>

        ⋅
      <% end %>

      <% no_filters = params[:search]&.split&.reject { |word| word.include?(":") }&.join(" ") %>
      <%= link_to(
          t("reset_filters"),
          params.merge(search: no_filters).permit(:search)
      ) %>

  </section>
<% end %>
