<% content_for(:page_title, "Mon compte") %>

<% if current_user.student? %>
  <div class="bento-card">
    <h2>Mes cours</h2>
    <% if @sessions.size %>
      <% @sessions.each do |session| %>
        <div>
          <h3><%= session.course.name %></h3>
          <time>
            Le <%= I18n.t(session.slot.day) %> <%= session.time_slot %>
          </time>
        </div>
      <% end %>
    <% else %>
      <p>Vous n’êtes inscrit à aucun cours.</p>
    <% end %>
  </div>
  <div class="bento-card">
    <h2>Mes ateliers</h2>
    <% if @workshops.size %>
      <% @workshops.each do |workshop| %>
        <div>
          <h3><%= workshop.name %> avec <%= workshop.teacher.name %></h3>
          <time><%= workshop.date_and_time.capitalize %> <%= I18n.t(workshop.frequency) %></time>
        </div>
      <% end %>
    <% else %>
      <p>Vous n’êtes inscrit à aucun atelier.</p>
    <% end %>
    </div>
<% end %>
<% if current_user.teacher? %>
  <div class="bento-card">
    <h2>Mes cours</h2>
    <% @teacher_sessions.each do |day, sessions| %>
      <h3><%= I18n.t(day).capitalize %></h3>
      <% sessions.each do |session| %>
        <time><%= session.course.instrument.name %> avec <%= session.subscription.student.full_name %>  <%= session.time_slot %></time>
      <% end %>
    <% end %>
  </div>
  <div class="bento-card">
    <h2>Mes ateliers</h2>
    <% @teacher_workshops.each do |workshop| %>
      <div>
        <h3><%= workshop.name %></h3>
        <time><%= workshop.date_and_time.capitalize %> <%= I18n.t(workshop.frequency) %></time>
      </div>
    <% end %>
  </div>
<% end %>
