<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= event.content %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= event.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= event.end_date %>
  </p>

  <p>
    <strong>Address first:</strong>
    <%= event.address_first %>
  </p>

  <p>
    <strong>Address second:</strong>
    <%= event.address_second %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= event.street %>
  </p>

  <p>
    <strong>City:</strong>
    <%= event.city %>
  </p>

</div>
