<section class="main-content__body main-content__body--flush">
  <h1>Bienvenue sur votre espace professeur</h1>
  <h2>Votre emploi du temps</h2>

  <table>
    <thead>
      <tr>
        <td>Nom</td>
        <td>Prénom</td>
        <td>Email</td>
        <td>Ville</td>
        <td>Jour</td>
        <td>Fréquence</td>
        <td>Heure de début</td>
        <td>Heure de fin</td>
      </tr>
    </thead>
    <% @sessions.each do |session| %>
      <tbody>
        <tr>
          <td><%= session.subscription.student.first_name %></td>
          <td><%= session.subscription.student.last_name %></td>
          <td><%= session.subscription.student.email %></td>
          <td><%= session.slot.city.name %></td>
          <td><%= I18n.t(session.slot.day).capitalize %></td>
          <td><%= I18n.t(session.slot.frequency) %></td>
          <td><% if session.start_time.present? %><%= session.start_time.strftime("%kh%M") %><% end %></td>
          <td><% if session.end_time.present? %><%= session.end_time.strftime("%kh%M") %><% end %></td>
          <td><%= link_to "Voir la fiche", account_session_path(session.id) %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</section>
